* {
	margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: black;
}

//VIDEO
.videobg {
	width: 100%;
    height: 100vh;

    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
}

//HIDEME CLASS TIL AT FJERNE OG VISE ELEMENTER DER DÆKKER VIDEO
.hideme {
	opacity: 1;
	transition: 300ms;

	&.hide {
		opacity: 0;
    }
}



//GENEREL STYLE TIL HEADER OG FOOTER
header {
	position: fixed;
	top: 30px;
    left: 30px;
    z-index: 999;

    nav {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        ul {
            list-style: none;
            li {
                margin-bottom: 5px;
                a {
                    color: black;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 7vw;
                    font-weight: 100;
                }
            }
        }
    }

}

//BOKS DER ER SKJULT I FOOTEREN
main {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    bottom: -150vh;
    width: 100%;
    padding: 40px 25%;
    transition: 300ms ease;
    z-index: 999;

    h2 {
        color: white;
        margin-bottom: 10px;
        margin-top: 50px;

        &:first-child {
            margin-top: 0;
        }
    }
    p {
        color: white;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
    }

    &.show {
        bottom: 0;
    }
		#close {
				width: 30px;
				height: 30px;
				margin-right: 15px;
				display: block;
				position: absolute;
				right: 30px;
				top: 30px;

			svg{
				width: 100%;
				height: auto;
			}
				}

}



//LOGO
.logo {
    width: 150px;
    margin-bottom: 50px;
    // position: fixed;
    // top: 15px;
    // left: 0;
//    transform: translate(-50%, -50%);

    svg {
        width:  100%;
        height: auto;
    }
}

// // KNAPPER I FOOTEREN
// footer {
// 	position: fixed;
//     left: 50%;
//     top: 50px;
//     transform: translateX(-50%);
//     ul {
//         list-style: none;
//         li {
//             display: inline-block;
//             margin: 0 5px;

//             a {
//                 color: white;
//                 text-transform: uppercase;
//                 font-size: 13px;
//                 font-weight: 400;
//                 text-decoration: none;
//             }
//         }
//     }
// }


//CONTROL WRAPPER TIL KNAPPERNE
.controls {
    position: fixed;
    right: 30px;
    top: 30px;

    //GENEREL STYLE TIL PAUSE, MUTED, REMOVE
    .pause , .muted, .remove {
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 15px;
        user-select: none;
    }

    //UDSKIFT AF IKONER TIL PAUSE/PLAY
    .pause {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='16.5px' height='33.6px' viewBox='0 0 16.5 33.6' style='enable-background:new 0 0 16.5 33.6;' xml:space='preserve'%3E %3Cdefs%3E %3C/defs%3E %3Cg%3E %3Cpath d='M0.8,0C0.4,0,0,0.4,0,0.8v32c0,0.4,0.4,0.8,0.8,0.8c0.4,0,0.8-0.4,0.8-0.8v-32C1.6,0.4,1.2,0,0.8,0L0.8,0z M0.8,0'/%3E %3Cpath d='M15.7,0c-0.4,0-0.8,0.4-0.8,0.8v32c0,0.4,0.4,0.8,0.8,0.8c0.4,0,0.8-0.4,0.8-0.8v-32C16.5,0.4,16.2,0,15.7,0L15.7,0z M15.7,0'/%3E %3C/g%3E %3C/svg%3E");
        width: 18px;
        height: 30px;

        &.selected {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='25px' height='35px' viewBox='0 0 25 35' style='enable-background:new 0 0 25 35;' xml:space='preserve'%3E %3Cdefs%3E %3C/defs%3E %3Cg%3E %3Cpath d='M24.5,16.5L1.3,0.5C1,0.4,0.7,0.4,0.4,0.5C0.2,0.6,0,0.9,0,1.2v32c0,0.3,0.2,0.6,0.4,0.7C0.5,34,0.7,34,0.8,34 c0.2,0,0.3,0,0.5-0.1l23.2-16c0.2-0.1,0.3-0.4,0.3-0.7C24.8,16.9,24.7,16.7,24.5,16.5L24.5,16.5z M1.6,31.7v-29l21,14.5L1.6,31.7z M1.6,31.7'/%3E %3C/g%3E %3C/svg%3E");
            width: 19px;
            height: 30px;
        }
    }

		  //UDSKIFT AF IKONER TIL sound/mute
			.muted {
				background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='43.2px' height='36.8px' viewBox='0 0 43.2 36.8' style='enable-background:new 0 0 43.2 36.8;' xml:space='preserve'%3E %3Cdefs%3E %3C/defs%3E %3Cg%3E %3Cpath d='M37.1,17.6l5.8-5.8c0.3-0.3,0.3-0.8,0-1.1c-0.3-0.3-0.8-0.3-1.1,0L36,16.5l-5.8-5.8c-0.3-0.3-0.8-0.3-1.1,0 c-0.3,0.3-0.3,0.8,0,1.1l5.8,5.8L29,23.4c-0.3,0.3-0.3,0.8,0,1.1c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2l5.8-5.8l5.8,5.8 c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2c0.3-0.3,0.3-0.8,0-1.1L37.1,17.6z M37.1,17.6'/%3E %3Cpath d='M22.7,0.3c-0.8-0.4-1.7-0.4-2.5,0c0,0-0.1,0-0.1,0.1L9.3,9.6H0.8C0.4,9.6,0,10,0,10.4v15.2c0,0.2,0.1,0.4,0.2,0.6 c0.2,0.1,0.4,0.2,0.6,0.2l8.5,0l10.8,10c0,0,0.1,0.1,0.1,0.1c0.4,0.2,0.8,0.4,1.3,0.4c0.4,0,0.8-0.1,1.2-0.3 c0.8-0.4,1.3-1.3,1.3-2.2V2.5C24,1.6,23.5,0.8,22.7,0.3L22.7,0.3z M22.4,34.3c0,0.3-0.2,0.6-0.5,0.8c-0.1,0.1-0.4,0.2-0.8,0 l-10.7-9.9v-3.6c0-0.4-0.4-0.8-0.8-0.8c-0.4,0-0.8,0.4-0.8,0.8v3.2l-7.2,0V11.2h7.2v3.2c0,0.4,0.4,0.8,0.8,0.8 c0.4,0,0.8-0.4,0.8-0.8v-3.6l10.7-9.1c0.4-0.2,0.7-0.1,0.8,0c0.3,0.2,0.5,0.5,0.5,0.8V34.3z M22.4,34.3'/%3E %3C/g%3E %3C/svg%3E ");

                &.selected {
					background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='41.6px' height='36.8px' viewBox='0 0 41.6 36.8' style='enable-background:new 0 0 41.6 36.8;' xml:space='preserve'%3E %3Cdefs%3E %3C/defs%3E %3Cg%3E %3Cpath d='M22.7,0.3c-0.8-0.4-1.7-0.4-2.5,0c0,0-0.1,0-0.1,0.1L9.3,9.6H0.8C0.4,9.6,0,10,0,10.4v15.2c0,0.2,0.1,0.4,0.2,0.6 c0.2,0.1,0.4,0.2,0.6,0.2l8.5,0l10.8,10c0,0,0.1,0.1,0.1,0.1c0.4,0.2,0.8,0.4,1.3,0.4c0.4,0,0.8-0.1,1.2-0.3 c0.8-0.4,1.3-1.3,1.3-2.2V2.5C24,1.6,23.5,0.8,22.7,0.3L22.7,0.3z M22.4,34.3c0,0.3-0.2,0.6-0.5,0.8c-0.1,0.1-0.4,0.2-0.8,0 l-10.7-9.9v-3.6c0-0.4-0.4-0.8-0.8-0.8c-0.4,0-0.8,0.4-0.8,0.8v3.2l-7.2,0V11.2h7.2v3.2c0,0.4,0.4,0.8,0.8,0.8 c0.4,0,0.8-0.4,0.8-0.8v-3.6l10.7-9.1c0.4-0.2,0.7-0.1,0.8,0c0.3,0.2,0.5,0.5,0.5,0.8V34.3z M22.4,34.3'/%3E %3Cpath d='M31,3.2c-0.4-0.1-0.9,0.1-1,0.5c-0.1,0.4,0.1,0.9,0.5,1C36.2,6.7,40,12,40,18c0,6-3.8,11.3-9.5,13.2 c-0.4,0.1-0.6,0.6-0.5,1c0.1,0.3,0.4,0.5,0.8,0.5c0.1,0,0.2,0,0.3,0c6.3-2.2,10.6-8.1,10.6-14.8C41.6,11.3,37.4,5.4,31,3.2L31,3.2z M31,3.2'/%3E %3Cpath d='M34.4,18c0-4.8-3.2-9-7.8-10.4c-0.4-0.1-0.9,0.1-1,0.5c-0.1,0.4,0.1,0.9,0.5,1c3.9,1.1,6.6,4.8,6.6,8.8 c0,4.1-2.7,7.7-6.6,8.8c-0.4,0.1-0.7,0.6-0.5,1c0.1,0.4,0.4,0.6,0.8,0.6c0.1,0,0.1,0,0.2,0C31.2,27,34.4,22.8,34.4,18L34.4,18z M34.4,18'/%3E %3C/g%3E %3C/svg%3E");
                }
	    	}
			//UDSKIFT AF IKONER TIL hide/show

			.remove {
				background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-49 141 512 512' style='enable-background:new -49 141 512 512;' xml:space='preserve'%3E %3Cpath d='M207,546.333c-131.435,0-248.555-136.619-253.483-142.443c-3.349-3.989-3.349-9.813,0-13.781 C-41.555,384.285,75.565,247.667,207,247.667c153.173,0,250.069,137.408,254.101,143.275c2.752,3.968,2.475,9.28-0.619,12.949 C455.555,409.715,338.435,546.333,207,546.333z M-23.997,397C1.453,424.52,101.635,525,207,525 c106.261,0,207.019-101.931,231.552-128.576C417.304,369.331,330.285,269,207,269C101.485,269,1.411,369.459-23.997,397z'/%3E %3Cpath d='M207,482.333c-47.061,0-85.333-38.272-85.333-85.333s38.272-85.333,85.333-85.333s85.333,38.272,85.333,85.333 S254.061,482.333,207,482.333z M207,333c-35.285,0-64,28.715-64,64s28.715,64,64,64s64-28.715,64-64S242.285,333,207,333z'/%3E %3C/svg%3E ");


			&.selected{
				background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-49 141 512 512' style='enable-background:new -49 141 512 512;' xml:space='preserve'%3E %3Cpath d='M207,482.333c-22.805,0-44.245-8.875-60.331-25.003c-4.16-4.16-4.16-10.944,0-15.083c4.16-4.16,10.923-4.16,15.083,0 C173.827,454.344,189.891,461,207,461c35.285,0,64-28.715,64-64c0-17.109-6.677-33.173-18.752-45.248 c-4.16-4.139-4.16-10.923,0-15.083c4.16-4.16,10.923-4.16,15.083,0c16.128,16.085,25.003,37.525,25.003,60.331 C292.333,444.061,254.061,482.333,207,482.333z'/%3E %3Cpath d='M133.635,420.68c-5.056,0-9.557-3.648-10.475-8.811c-0.875-4.843-1.493-9.792-1.493-14.869 c0-47.061,38.272-85.333,85.333-85.333c5.077,0,10.027,0.619,14.869,1.472c5.781,1.024,9.664,6.571,8.64,12.352 c-1.024,5.781-6.677,9.792-12.352,8.64C214.531,333.491,210.84,333,207,333c-35.285,0-64,28.715-64,64 c0,3.84,0.491,7.531,1.152,11.157c1.024,5.781-2.859,11.328-8.64,12.352C134.872,420.637,134.253,420.68,133.635,420.68z'/%3E %3Cpath d='M207,546.333c-39.019,0-78.229-9.344-116.523-27.84c-5.312-2.56-7.552-8.939-4.971-14.229 c2.56-5.312,8.981-7.552,14.229-4.971C135.128,516.36,171.203,525,207,525c105.493,0,205.568-100.459,230.997-128 c-16.747-18.091-65.728-67.627-127.04-99.371c-5.248-2.709-7.296-9.152-4.587-14.379c2.709-5.248,9.216-7.296,14.379-4.587 c79.595,41.237,137.301,108.587,139.712,111.445c3.371,3.989,3.392,9.813,0.021,13.781C455.555,409.715,338.435,546.333,207,546.333 z'/%3E %3Cpath d='M56.664,497.672c-2.048,0-4.075-0.576-5.888-1.792c-61.12-40.597-96.384-90.667-97.856-92.779 c-2.773-3.989-2.517-9.323,0.597-12.992C-41.555,384.285,75.565,247.667,207,247.667c22.165,0,45.717,4.117,69.995,12.288 c5.589,1.877,8.576,7.915,6.699,13.504c-1.856,5.611-7.915,8.704-13.504,6.699C248.131,272.755,226.861,269,207,269 C100.739,269,0.003,370.909-24.552,397.576c11.499,14.656,42.219,50.688,87.104,80.533c4.907,3.243,6.251,9.877,2.987,14.763 C63.491,496.008,60.099,497.672,56.664,497.672z'/%3E %3Cpath d='M25.667,589c-2.731,0-5.461-1.045-7.552-3.115c-4.16-4.16-4.16-10.923,0-15.083l362.667-362.667 c4.16-4.16,10.923-4.16,15.083,0s4.16,10.923,0,15.083L33.197,585.885C31.128,587.955,28.397,589,25.667,589z'/%3E %3C/svg%3E ");
			}
		}

}
